<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Span Positioning with Icons</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body class="header-body">
        <div class="container">
            <span class="left-span">
                <span class="icon">menu_book</span>
                <span class="text-button-head">Let's Share</span>
            </span>
            <span class="right-span">
                    <span class="text-button-small">
                        <a href="#recipe" class="reference-link-head">Recipee</a>
                    </span>
                    <span class="text-button-small">
                        <a href="#category" class="reference-link-head">Category</a>
                    </span>
                    <span class="text-button-small">
                        <a href="#about" class="reference-link-head">About</a>
                    </span>
            </span>
        </div>
        <div class="next-container">
            <span class="text image-span">
                <span>
                    Discover Delicious Recipies
                </span>
                <span class="text image-text-span">
                    Share and explore a wide variety of recipes from
                </span>
                <span class="text image-text-span"> cooks and professional chefs
                </span>
                <span class="text text-button">
                    <a href="#" class="reference-link">Get Started</a>
                </span>
            </span>
        </div>
        <div class="container">
            <span class="left-span">
                <span class="icon">chat</span>
                <span class="text-button-head">Let's chat</span>
            </span>
            <span class="right-span">
                    <span class="text-button-bottom">
                        Follow Us on :
                    </span>
                    <span class="social_icons">
                        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter" style="font-size: 24px;"></i></a>
                    </span>
                    <span class="social_icons">
                        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram" style="font-size: 24px;"></i></a>
                    </span>
                    <span class="social_icons">
                        <a href="https://facebook.com" target="_blank"s><i class="fab fa-facebook" style="font-size: 24px;"></i></a>
                    </span>
            </span>
        </div>
    </body>
</html>